<h1><u>Region</u></h1>

These animals were found in <%= @region.title %>

<ul>
  <% @sightings.each do |sighting| %>
    <li>
      <%= link_to sighting.animal.name,  sighting_path(sighting)  %>
      <%= "#{time_ago_in_words(sighting.animal.created_at)} ago" %>
    </li>
  <% end %>
</ul>

 <ul>
    <li><%= link_to "Edit Region", edit_region_path(@region)%>
    <li><%= link_to "Destroy Region", region_path(@region), method: :delete, data: {confirm: "Are you sure?"} %></li>
    <li><%= link_to "Return", regions_path(@regions) %></li>
  </ul>

